<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" if !session[:user_id].present?%>

<% if params[:rest_api_token].present? %>
    Request token is:   <h1><%=params[:rest_api_token] %> </h1>
<% end %>