<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power,  :required => true %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>

    <%= f.select :type_id, Type.all.map{|type| [type.name, type.id]},  {}, :required => true  %>
  </div>
    <div class="field">
      <%= f.label :team_id %><br>

      <%= f.select :team_id, @teams.all.map{|team| [team.name, team.id]},  {}, :required => true %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
