<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<table id="monsters" class="display" data-source="<%=monsters_path(format: "json")%>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th class='action'>Show</th>
      <th class='action'>Edit</th>
      <th class='action'>Delete</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>

