<!DOCTYPE html>
<html>
<head>
  <title>RubymonTest</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
      <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="user_nav">
  <% if current_user %>

      <%= link_to "Sign out", signout_path, id: "sign_out"%>
      <br/>
      <%= link_to "Monsters", monsters_path,"data-no-turbolink" => true %>
      <br/>
      <%= link_to "Teams", teams_path %>
      <br/>
      <%= link_to "Types", types_path %>
      <br/>

  <% end %>
</div>


<%= yield %>

</body>
</html>
